#accordion {
    padding-inline-start:0;
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: grey;
    border-radius: 4px;
    padding-top:0.8rem;
    padding-bottom:0.8rem;
}

#accordion li label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding-left:0.8rem;
    cursor: pointer;
    color: #c20000;
}

#accordion li label span {
    font-size: 22px;
    color: #333;
}

#accordion label + input[type='radio'] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type='radio']:checked + .content {
    max-height: 400px;
}

